<include src="../partials/head.html"></include>

<body class="admin-menu">

  <aside class="sidebar">
    <div class="sidebar__menu">
      <ul class="main-menu">
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--profobr"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link main-menu__link--active">
            <i class="icon icon--img--house"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link ">
            <i class="icon icon--img--stack"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--list"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--people"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--gear"></i>
          </a>
        </li>
      </ul>
      
      <div class="sidebar__profile sidebar-profile">
        <div class="sidebar-profile__image-wrapper">
          <img src="../../images/profobr-house.jpg" alt="" class="sidebar-profile__img">
        </div>
        <a href="#" class="sidebar-profile__site">profobr27.ru</a>
        <a href="#" class="link link--type--side sidebar-profile__edit">Именить</a>
      </div>

    </div>

    <div class="sidebar__content">
      <div class="profile-group">
        <div class="profile-group__image-wrapper">
          <img src="../../images/profile.jpg" alt="" class="profile-group__img">
        </div>
        <p class="profile-group__name">Иванова Анна</p>
        <small class="profile-group__user">
          Администратор портала
        </small>
        <p class="profile-group__stats">
          <small class="profile-group__stats-item">10</small>
          /
          <small class="profile-group__stats-item">50</small>
          /
          <small class="profile-group__stats-item">3000</small>
        </p>
        <p class="profile-group__stats-title">
          страниц за день, месяц, всего
        </p>
      </div>
      <div class="info-group">
        <div class="info-group__header">
          <h4 class="heading heading--type--group info-group__heading">Характеристики</h4>
        </div>
        <div class="info-group__content">
          <div class="info-group__entry">
            <div class="info-group__key">Исп. место:</div>
            <div class="info-group__value">4,5 Гб</div>
          </div>
          <div class="info-group__entry">
            <div class="info-group__key">Общее место:</div>
            <div class="info-group__value">11,5 Гб</div>
          </div>
          <hr class="info-group__hr">
          <div class="info-group__entry">
            <div class="info-group__key">Срок домена:</div>
            <div class="info-group__value">11.10.2018</div>
          </div>
          <div class="info-group__entry">
            <div class="info-group__key">Владелец:</div>
            <div class="info-group__value"><a href="#" class="link">ХКАУ ИРСДЛИННОЕНАЗВАНИЕ</a></div>
          </div>
          <hr class="info-group__hr">
          <div class="info-group__entry">
            <div class="info-group__key">Лицензия до:</div>
            <div class="info-group__value">бессрочно</div>
          </div>
          <div class="info-group__entry">
            <div class="info-group__key">Ключ:</div>
            <div class="info-group__value"><a href="#" class="link">SPA-93-942-E3LONGLONGLONGLONG</a></div>
          </div>
          <hr class="info-group__hr">
          <button class="button button--size--md info-group__button">Подробнее</button>
        </div>

      </div>


      <div class="info-group">
        <div class="info-group__header">
          <h4 class="heading heading--type--group info-group__heading">Тех. поддержка</h4>
        </div>
        <div class="info-group__content">
          <div class="info-group__title">
            <p class="info-group__title-val">Иван Иванов Иванович</p>
            <small class="info-group__title-key">
              Менеджер
            </small>
          </div>
          <hr class="info-group__hr">
          <div class="info-group__entry">
            <div class="info-group__key">Тел:</div>
            <div class="info-group__value">+7 (924) 109 49 49</div>
          </div>
          <div class="info-group__entry">
            <div class="info-group__key">Email:</div>
            <div class="info-group__value"><a href="mailto:li@site.ru" class="link">li@site.ru</a></div>
          </div>
        </div>

      </div>


    </div>
  </aside>

  <main class="admin-menu__main-wrapper">
    <div class="admin-menu__main-inner">
      <div style="height: 35px; width: 100%; border: 1px solid #000;"></div>

      <h1 class="heading">Панель управления</h1>

      <div class="feature__features">
        <div class="feature feature--color--em">
          <i class="icon icon--img--stats feature__icon"></i>
          <div class="feature__text">
            <h3 class="heading heading--size--sm feature__title">Быстрый доступ к разделам</h3>
            <p class="feature__description">Начните работу прямо сейчас в нужном разделе, нажав на ссылки. Данные ссылки
              обновляются автоматически на основе ваших прошлой взаимодействий с административной панелью.</p>
          </div>
          <ul class="feature__links">
            <li class="feature__link">
              <a class="feature-link" href="#">
                <i class="icon icon--img--tablet feature-link__icon"></i>
                <b class="feature-link__title">Руководства</b>
                <small class="feature-link__subtitle">по эксплуатации</small>
              </a>
            </li>
          </ul>
        </div>
  
        <div class="feature">
          <div class="feature__text">
            <h3 class="heading heading--size--sm feature__title">Быстрый доступ к разделам</h3>
            <p class="feature__description">Начните работу прямо сейчас в нужном разделе, нажав на ссылки. Данные ссылки
              обновляются автоматически на основе ваших прошлой взаимодействий с административной панелью.</p>
          </div>
          <ul class="feature__links">
            <li class="feature__link">
              <a class="feature-link" href="#">
                <i class="icon icon--img--tablet feature-link__icon"></i>
                <b class="feature-link__title">Новости</b>
                <small class="feature-link__subtitle">таблица</small>
              </a>
            </li>
            <li class="feature__link">
              <a class="feature-link" href="#">
                <i class="icon icon--img--tablet feature-link__icon"></i>
                <b class="feature-link__title">События</b>
                <small class="feature-link__subtitle">таблица</small>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header-composition">
        <h2 class="heading heading--size--md">Последние операции</h2>
        <button class="button button--type--action">Посмотреть все</button>
      </div>

      <div class="table" style="border: 1px solid #000; height: 1500px;">

      </div>

    </div>
  </main>



  <script src="../../js/index.js"></script>
</body>

<include src="../partials/footer.html"></include>