@import "./variables.scss";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  word-wrap: break-word;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Regular.woff') format('woff');
  font-weight: 400;
}

body,
a,
button,
input {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Circle';
  color: $font-1;
}

p {
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid rgba($font-1, .1);
}