// Colors: 
$accent: #005ed0;
$action: #ff6100;
$em: #ff3131;
$success: #00d06e;
$bg-blank: #fff;
$bg-light: #f9f9f9;
$font-1: #333;
$font-2: #fff;
$font-3: #999;
$font-4: rgba($font-1, .3);
$font-5: rgba($font-1, .8);