.admin-menu {
  display: flex;

  &__main-wrapper {
    padding: 20px 30px;
    overflow-y: auto;
    width: 100%;
  }
}

@media only screen and (max-width: 450px) {
  .admin-menu {
    flex-direction: column;
  }
}