.big-check {
  display: flex;
  cursor: pointer;

  &__title {
    font-size: 14px;
    line-height: 20px;
  }

  &__subtitle {
    font-size: 10px;
    line-height: 15px;
    color: rgba($font-1, .3);
  }

  &__check {
    width: 40px;
    height: 40px;
    background: $accent;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }

  &__input:checked + &__check {    
    &::after {
      display: block;
      content: "";
      width: 16px;
      height: 12px;
      @include bg-icon;
      background-image: url('../../img/check-mark.svg');
    }
  }
}