.big-form {
  &__group {
    padding: 30px;
    border-top: 1px solid #E0E0E0;
    display: flex;
  }

  &__description {
    flex: 0 0 30%;
    margin-right: 7%;
    min-width: 360px;
  }

  &__desc-title {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 8px;
  }

  &__desc-subtitle {
    color: rgba($font-1, .8);
  }

  &__body {
    flex: 1 1 auto;
  }

  &__header-composition {
    margin-bottom: 30px;
    margin-top: 15px;
  }
}

@media only screen and (max-width: 1640px) {
  body .big-form {
    &__group {
      flex-direction: column;
    }
    &__description,
    &__body {
      flex: 1 0 100%;
    }
    &__description {
      margin-bottom: 15px;
    }
    &__group {
      border-top: none;
      padding-top: 0;
      padding-bottom: 0;
      margin-bottom: 30px;
    }
  }
}

@media only screen and (max-width: 1180px) {
  body .big-form {
    &__lg-row {
      flex-direction: column;

      > .col {
        padding-right: 0;
      }
    }
  }
}
@media only screen and (max-width: 700px) {
  body .big-form {
    &__md-row {
      flex-direction: column;

      > .col {
        padding-right: 0;
      }
    }
  }
}