.header-composition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 15px;

  &__heading {
    margin: 0;
  }

  &--edit {
    margin-top: 5px;

    .header-composition {
      &__heading {
        margin: 0;
        line-height: 55px;
      }

      &__left {
        position: relative;
        display: flex;
      }

      &__back {
        position: relative;
        top: 18px;     
        display: block;
        content: "";
        width: 32px;
        height: 32px;
        @include bg-icon;
        background-image: url('../../img/left-angle.svg');
        margin-right: 11px; 
      }

      &__group--flex {
        display: flex;
        align-items: center;        
      }

      &__big-check {
        margin-right: 30px;
      }

      &__btn {
        margin-right: 15px;
      }
    }
  }
}