.header-composition {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 0;

  &--edit {
    margin-top: 5px;

    .header-composition {
      &__heading {
        margin: 0;
        line-height: 55px;
      }
    }
  }
}