.input {
  padding-top: 18px;
  margin-bottom: 5px;

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba($font-1, .5);
    outline: none;
    padding: 0 5px 8px;

    &:focus {
      border-bottom: 1px solid $font-1;
    }
  }

  &__label {
    display: block;
    width: 100%;
  }

  &__title {
    display: block;
    padding-left: 5px;
    font-size: 10px;
    line-height: 13px;
  }

  &--labeled {
    padding-top: 5px;
  }

  &--required & {
    &__title {
      position: relative;
      &::after {
        position: relative;
        content: "*";
        color: $em;
        top: -1px;
        right: -3px;
      }
    }
  }

  &--password & {
    &__input {
      letter-spacing: 3px;

      &::placeholder {
        letter-spacing: normal;
      }
    }
  }
}