.input {
  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba($font-1, .5);
    outline: none;
    padding: 0 5px 8px;

    &:focus {
      border-bottom: 1px solid $font-1;
    }

    &::placeholder {
      opacity: 0;
    }
  }

  &__input:not(:placeholder-shown) + &__title,
  &__input:focus + &__title {
    color: $font-1;
    bottom: 25px;
    font-size: 10px;
    line-height: 15px;
  }

  &__label {
    position: relative;
    width: 100%;
    display: block;
    padding-top: 15px;
  }

  &__title {
    cursor: text;
    display: block;
    position: absolute;
    bottom: 9px;
    left: 5px;
    color: rgba($font-1, .5);
    transition: all .3s ease;
  }

  &--required & {
    &__title {
      &::after {
        position: relative;
        content: "*";
        color: $em;
        top: -1px;
        right: -3px;
      }
    }
  }

  &--password & {
    &__input {
      letter-spacing: 3px;

      &::placeholder {
        letter-spacing: normal;
      }
    }
  }
}