.link {
  color: #005ED0;
  text-decoration: none;
  transition: color .15s ease;

  &:hover {
    color: $action;
  }

  &--type {
    &--side {
      color: rgba($font-2, .5);

      &:hover {
        color: $font-2;        
      }
    }

    &--sort {
      color: rgba($font-1, .5);

      &:hover {
        color: $font-1;
      }
    }
  }

  &--sort {
    &--asc {
      color: $font-1;
      &::after {
        position: relative;
        display: inline-block;
        right: -6px;
        top: 6px;
        content: "";
        width: 10px;
        height: 16px;
        @include bg-icon;
        background-image: url('../img/arrow-bottom.svg');
      }
    }

    &--desc {
      color: $font-1;
      &::after {
        position: relative;
        display: inline-block;
        right: -6px;
        top: 5px;
        content: "";
        width: 10px;
        height: 16px;
        @include bg-icon;
        background-image: url('../img/arrow-bottom.svg');
        transform: rotate(180deg);
      }
    }
  }
}