.sidebar {
  width: 310px;
  flex: 0 0 auto;
  display: flex;

  &__menu {    
    background: $accent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__content {
    overflow-y: auto;
  }
  
  &__content-inner {
    flex: 0 0 auto;
    width: 220px;
    background-color: rgba($accent, .04);
    padding: 20px;
    height: 100%;
  }
}