.heading {
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 40px;
  line-height: 59px;
  color: $font-1; 
    
  @media only screen and (max-width: 374px) {
    font-size: 30px;
  }

  &--size--md {
    font-size: 30px;
    line-height: 45px;
  }

  &--size--sm {
    font-size: 20px;
    line-height: 29px;
  }

  &--type--group {
    font-size: 20px;
    line-height: 29px;
    font-weight: normal;
  }
}