.link {
  color: #005ED0;
  text-decoration: none;
  transition: color .15s ease;

  &:hover {
    color: $action;
  }

  &--type {
    &--side {
      color: rgba($font-2, .5);

      &:hover {
        color: $font-2;        
      }
    }
  }
}