@import "./variables.scss";

html {
  box-sizing: border-box;
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  word-wrap: break-word;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Bold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'Circle';
  src: url('../fonts/Circe-Regular.woff') format('woff');
  font-weight: 400;
}

body,
a,
button,
input,
textarea {
  font-size: 14px;
  line-height: 20px;
  font-family: 'Circle', Arial, Helvetica, sans-serif;
  color: $font-1;
}

a,
button {
  cursor: pointer;
}

p {
  margin: 0;
}

hr {
  border: none;
  border-bottom: 1px solid rgba($font-1, .1);
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}