<%= _.template(require('./../includes/header.html'))(data) %>

<body class="admin-menu">

  <aside class="sidebar">
    <div class="sidebar__menu">
      <ul class="main-menu">
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--profobr"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link main-menu__link--active">
            <i class="icon icon--img--house"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link ">
            <i class="icon icon--img--stack"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--list"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--people"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--gear"></i>
          </a>
        </li>
      </ul>

      <div class="sidebar__profile sidebar-profile">
        <div class="sidebar-profile__image-wrapper">
          <img src="../../img/profobr-house.jpg" alt="" class="sidebar-profile__img">
        </div>
        <a href="#" class="sidebar-profile__site">profobr27.ru</a>
        <a href="#" class="link link--type--side sidebar-profile__edit">Именить</a>
      </div>

    </div>

    <div class="sidebar__content">
      <div class="sidebar__content-inner">
        <div class="sidebar-heading">
          <div class="sidebar-heading__heading">
            <a href="#">
              <i class="icon icon--img--back-arrow sidebar-heading__icon"></i>
            </a>
            Новости
            <small class="sidebar-heading__subtitle">11 категорий</small>
          </div>
        </div>
        <ul class="sidebar-items">
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Главная страница</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Стат. страницы</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Новости</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Статьи</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Конкурсы и олимп.</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Календарь событий</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Заявки обр. мер.</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Талант. молодежь</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Интерактив. музей</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Трудоустройство</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Медиаресурсы</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Опросы</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Экспертное сообщ.</a>
          </li>
        </ul>
      </div>

    </div>
  </aside>

  <main class="admin-menu__main-wrapper">
    <div class="admin-menu__main-inner">
      <div class="top-panel">
        <div class="top-panel__group">
          <div class="top-panel__support">
            <div>
              <a href="#" class="top-panel__title">Техническая поддержка</a>
              <a href="#" class="top-panel__subtitle">Руководство по эксплуатации</a>
            </div>
          </div>
        </div>
        <div class="top-panel__group top-panel__group--flex">
          <a href="#" class="top-panel__ding"></a>
          <div class="top-panel__profile">
            <div class="top-panel__photo-wrapper">
              <img src="../../img/top-photo.jpg" alt="" class="top-panel__photo">
            </div>
            <div class="top-panel__name-info">
              <p class="top-panel__name">Иванова Анна</p>
              <small class="top-panel__who">Администратор Портала</small>
            </div>
          </div>
          <a class="top-panel__go" href="#"></a>
        </div>
      </div>

      <form action="https://echo.htmlacademy.ru" class="big-form">
        <div class="header-composition big-form__header-composition header-composition--edit">
          <div class="header-composition__group header-composition__left">
            <a href="#" class="header-composition__back">
            </a>
            <div>
              <h1 class="heading header-composition__heading">Редактирование новости</h1>
              <div class="header-composition__stats">
                ID: 57 / Создан: 20.01.2018 в 15:43 / Создатель: <a href="#" class="link">Иван Иванов</a>
              </div>
            </div>
          </div>
          <div class="header-composition__group header-composition__group--flex">
            <label class="big-check header-composition__big-check">
              <input class="big-check__input visually-hidden" type="checkbox" checked name="" id="">
              <div class="big-check__check"></div>
              <div class="big-check__text">
                <p class="big-check__title">Активность записи</p>
                <small class="big-check__subtitle">Свойство видимости в ресурсе</small>
              </div>
            </label>
            <div class="dropdown dropdown--light header-composition__btn">
              <button type="button" class="button button--type--action dropdown__toggler">
                Действие
                <i class="dropdown__icon">
                  <svg width="12" height="6" viewBox="0 0 12 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.17039 0.178814C0.90296 -0.0596048 0.47635 -0.0596048 0.208921 0.178814C-0.0696403 0.427158 -0.0696403 0.838542 0.208921 1.08689L5.51927 5.82119C5.78669 6.0596 6.21331 6.0596 6.48073 5.82119L11.7911 1.08689C11.9266 0.966081 12 0.80654 12 0.63285C12 0.459161 11.9266 0.29962 11.7911 0.178814C11.5237 -0.0596048 11.097 -0.0596048 10.8296 0.178814L6 4.48453L1.17039 0.178814Z"
                      fill="white" />
                  </svg>
                </i>
              </button>

              <div class="dropdown__inner">
                <ul class="dropdown__items">
                  <li class="dropdown__item">
                    <a class="dropdown__button" href="#">Одноsd fsdf sdf sdfddfsdf sd </a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__button" href="#">Другое</a>
                  </li>
                  <li class="dropdown__item">
                    <a class="dropdown__button" href="#">Удалить</a>
                  </li>
                </ul>
              </div>
            </div>
            <button class="button button--type--action">Сохранить</button>
          </div>
        </div>

        <div class="big-form__group">
          <div class="big-form__description">
            <div class="big-form__desc-title">
              Общие сведения
            </div>
            <div class="big-form__desc-subtitle">
              Пожалуйста, введите полные данные, которые может содержать новость и еще много всего дополнительного.
            </div>
          </div>

          <div class="big-form__body">
            <div class="row">
              <div class="col">
                <div class="input input--required input--labeled">
                  <label class="input__label">
                    <span class="input__title">Название новости</span>
                    <input required class="input__input" type="text" value="Совещание по вопросам среднего профессионального образования">
                  </label>
                </div>
                <div class="input">
                  <input class="input__input" type="text" placeholder="ФИО автора">
                </div>
                <div class="row">
                  <div class="col">
                    <div class="input">
                      <input class="input__input" type="text" placeholder="Дата публикации">
                    </div>
                  </div>
                  <div class="col">
                    <div class="input">
                      <input class="input__input" type="text" placeholder="Сортировка">
                    </div>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="input input--labeled">
                  <label class="input__label">
                    <span class="input__title">Категория</span>
                    <input class="input__input" type="text" value="Совещание по вопросам среднего профессионального образования">
                  </label>
                </div>
                <div class="input">
                  <input class="input__input" type="text" placeholder="Должность автора">
                </div>
                <div class="row">
                  <div class="col">
                    <select id="choices" name="">
                      <option selected>ПОО</option>
                      <option>Раз</option>
                      <option>Два</option>
                      <option>Три</option>
                    </select>
                  </div>
                  <div class="col">
                    <div class="input">
                      <input class="input__input" type="text" placeholder="Символьный код">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="big-form__group">
          <div class="big-form__description">
            <div class="big-form__desc-title">
              Общие сведения
            </div>
            <div class="big-form__desc-subtitle">
              Пожалуйста, введите полные данные, которые может содержать новость и еще много всего дополнительного.
            </div>
          </div>

          <div class="big-form__body">
            <ul class="control-images">
              <li class="control-images__item">
                <button type="button" class="control-images__main-btn"></button>
                <div class="control-images__img-wrapper">
                  <img src="../../img/road.jpg" alt="" class="control-images__img">
                </div>
                <button type="button" class="control-images__close-btn"></button>
              </li>
              <li class="control-images__item">
                <div class="image-drop image-drop--inline">
                  <input class="visually-hidden control-images__input" type="file" name="1slide-image" id="img-drop1">
                  <label class="image-drop__zone control-images__dropzone" for="img-drop1">
                    Выберите изображение
                  </label>
                </div>
              </li>
            </ul>           

            <textarea class="ckeditor" id="ckeditor"></textarea>
          </div>
        </div>

        <div class="big-form__group">

          <div class="big-form__description">

            <div class="big-form__desc-title">
              Общие сведения
            </div>
            <div class="big-form__desc-subtitle">
              Пожалуйста, введите полные данные, которые может содержать новость и еще много всего дополнительного.
            </div>
          </div>

          <div class="big-form__body">
            <div class="image-drop">
              <input multiple class="visually-hidden" type="file" name="img" id="file">
              <label class="image-drop__zone" for="file">
                <div class="image-drop__group">
                  <p class="image-drop__title">Изображения для превью</p>
                  <small class="image-drop__subtitle">jpg, jpeg, png, bmp, gif / до 4 Мб</small>
                </div>
                <div class="image-drop__group">
                  <p class="image-drop__instruction">
                    Выберите файл
                  </p>
                </div>
              </label>
            </div>

            <textarea class="textarea" placeholder="Описание новости"></textarea>
          </div>

        </div>

      </form>
    </div>

  </main>

  <%= _.template(require('./../includes/footer.html'))() %>