<%= _.template(require('./../includes/header.html'))(data) %>

<body class="admin-menu">

  <aside class="sidebar">
    <div class="sidebar__menu">
      <ul class="main-menu">
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--profobr"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link main-menu__link--active">
            <i class="icon icon--img--house"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link ">
            <i class="icon icon--img--stack"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--list"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--people"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--gear"></i>
          </a>
        </li>
      </ul>

      <div class="sidebar__profile sidebar-profile">
        <div class="sidebar-profile__image-wrapper">
          <img src="../../img/profobr-house.jpg" alt="" class="sidebar-profile__img">
        </div>
        <a href="#" class="sidebar-profile__site">profobr27.ru</a>
        <a href="#" class="link link--type--side sidebar-profile__edit">Именить</a>
      </div>

    </div>

    <div class="sidebar__content">
      <div class="sidebar__content-inner">
        <div class="sidebar-heading">
          <div class="sidebar-heading__heading">
            <a href="#">
              <i class="icon icon--img--back-arrow sidebar-heading__icon"></i>
            </a>
            Новости
            <small class="sidebar-heading__subtitle">11 категорий</small>
          </div>
        </div>
        <ul class="sidebar-items">
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Главная страница</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Стат. страницы</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Новости</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Статьи</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Конкурсы и олимп.</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Календарь событий</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Заявки обр. мер.</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Талант. молодежь</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Интерактив. музей</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Трудоустройство</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Медиаресурсы</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Опросы</a>
          </li>
          <li class="sidebar-items__item">
            <a href="#" class="sidebar-items__link">Экспертное сообщ.</a>
          </li>
        </ul>
      </div>

    </div>
  </aside>

  <main class="admin-menu__main-wrapper">
    <div class="admin-menu__main-inner">
      <div style="height: 35px; width: 100%; border: 1px solid #000;"></div>

      <div class="header-composition">
        <h1 class="heading">Редактирование новости</h1>
        <div class="header-composition__stats">
          250 элементов / 240 найдено / 147 отфильтровано / 20 показано
        </div>
      </div>

      <div class="control-buttons">
        <div class="control-buttonst__group">
          <a href="#" class="control-buttons__button button button--type--action">Создать</a>
          <a href="#" class="control-buttons__button button button--disabled">Действие</a>
          <a href="#" class="control-buttons__button button button--disabled">Действие</a>
        </div>
        <div class="control-buttons__group">
          <div class="pagination-control"></div>
          <div class="search"></div>
          <button class="control-buttons__button button button--type--action">Сохранить</a>
        </div>
      </div>

      <form class="big-form" style="margin-top: 40px">
        <div class="row">
          <div class="col">
            <div class="input input--required input--labeled">
              <label class="input__label">
                <span class="input__title">Название новости</span>
                <input required class="input__input" type="text" value="Совещание по вопросам среднего профессионального образования">
              </label>
            </div>
            <div class="input">
              <input class="input__input" type="text" placeholder="ФИО автора">
            </div>
            <div class="row">
              <div class="col">
                <div class="input">
                  <input class="input__input" type="text" placeholder="Дата публикации">
                </div>
              </div>
              <div class="col">
                <div class="input">
                  <input class="input__input" type="text" placeholder="Сортировка">
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="input input--labeled">
              <label class="input__label">
                <span class="input__title">Категория</span>
                <input class="input__input" type="text" value="Совещание по вопросам среднего профессионального образования">
              </label>
            </div>
            <div class="input">
              <input class="input__input" type="text" placeholder="Должность автора">
            </div>
            <div class="row">
              <div class="col">
                <select name="" style="width: 100%; margin-top: 15px; height: 34px">
                  <option selected>ПОО</option>
                  <option>Раз</option>
                  <option>Два</option>
                  <option>Три</option>
                </select>
              </div>
              <div class="col">
                <div class="input">
                  <input class="input__input" type="text" placeholder="Символьный код">
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr>





        <ul class="control-images">
          <li class="control-images__item">
            <button class="control-images__main-btn"></button>
            <div class="control-images__img-wrapper">
              <img src="../../img/road.jpg" alt="" class="control-images__img">
            </div>
            <button class="control-images__close-btn"></button>
          </li>
          <li class="control-images__item">
            <div class="image-drop image-drop--inline">
              <input class="visually-hidden" type="file" name="img" id="img-drop1">
              <label class="image-drop__zone" for="img-drop1">
                Выберите или перетащите изображение
              </label>
            </div>
          </li>
        </ul>

        <textarea id="ckeditor" placeholder="Описание новости" style="width: 100%; margin-top: 20px; resize: none; padding: 20px"></textarea>

        <hr>

        <form action="https://echo.htmlacademy.ru/">
          <div class="image-drop">
            <input multiple class="visually-hidden" type="file" name="img" id="file">
            <label class="image-drop__zone" for="file">
              <div class="image-drop__group">
                <p class="image-drop__title">Изображения для слайдера</p>
                <small class="image-drop__subtitle">jpg, jpeg, png, bmp, gif / до 4 Мб</small>
              </div>
              <div class="image-drop__group">
                <p class="image-drop__instruction">
                  Перетащите в область файл или выберите его с компьютера
                </p>
              </div>
            </label>
          </div>

          <textarea placeholder="Описание новости" style="width: 100%; margin-top: 20px; resize: none; padding: 20px"></textarea>
        </form>


      </form>
    </div>

  </main>

  <%= _.template(require('./../includes/footer.html'))() %>