<%= _.template(require('./../includes/header.html'))() %>

<body class="admin-menu">

  <aside class="sidebar">
    <div class="sidebar__menu">
      <ul class="main-menu">
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--profobr"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link main-menu__link--active">
            <i class="icon icon--img--house"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link ">
            <i class="icon icon--img--stack"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--list"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--people"></i>
          </a>
        </li>
        <li class="main-menu__item">
          <a href="#" class="main-menu__link">
            <i class="icon icon--img--gear"></i>
          </a>
        </li>
      </ul>

      <div class="sidebar__profile sidebar-profile">
        <div class="sidebar-profile__image-wrapper">
          <img src="../../img/profobr-house.jpg" alt="" class="sidebar-profile__img">
        </div>
        <a href="#" class="sidebar-profile__site">profobr27.ru</a>
        <a href="#" class="link link--type--side sidebar-profile__edit">Именить</a>
      </div>

    </div>

    <div class="sidebar__content">
      <div class="sidebar__content-inner">
        <div class="profile-group">
          <div class="profile-group__image-wrapper">
            <img src="../../img/profile.jpg" alt="" class="profile-group__img">
          </div>
          <p class="profile-group__name">Иванова Анна</p>
          <small class="profile-group__user">
            Администратор портала
          </small>
          <p class="profile-group__stats">
            <small class="profile-group__stats-item">10</small>
            /
            <small class="profile-group__stats-item">50</small>
            /
            <small class="profile-group__stats-item">3000</small>
          </p>
          <p class="profile-group__stats-title">
            страниц за день, месяц, всего
          </p>
        </div>
        <div class="info-group">
          <div class="info-group__header">
            <h4 class="heading heading--type--group info-group__heading">Характеристики</h4>
          </div>
          <div class="info-group__content">
            <div class="info-group__entry">
              <div class="info-group__key">Исп. место:</div>
              <div class="info-group__value">4,5 Гб</div>
            </div>
            <div class="info-group__entry">
              <div class="info-group__key">Общее место:</div>
              <div class="info-group__value">11,5 Гб</div>
            </div>
            <hr class="info-group__hr">
            <div class="info-group__entry">
              <div class="info-group__key">Срок домена:</div>
              <div class="info-group__value">11.10.2018</div>
            </div>
            <div class="info-group__entry">
              <div class="info-group__key">Владелец:</div>
              <div class="info-group__value"><a href="#" class="link">ХКАУ ИРСДЛИННОЕНАЗВАНИЕ</a></div>
            </div>
            <hr class="info-group__hr">
            <div class="info-group__entry">
              <div class="info-group__key">Лицензия до:</div>
              <div class="info-group__value">бессрочно</div>
            </div>
            <div class="info-group__entry">
              <div class="info-group__key">Ключ:</div>
              <div class="info-group__value"><a href="#" class="link">SPA-93-942-E3LONGLONGLONGLONG</a></div>
            </div>
            <hr class="info-group__hr">
            <button class="button button--size--md info-group__button">Подробнее</button>
          </div>

        </div>


        <div class="info-group">
          <div class="info-group__header">
            <h4 class="heading heading--type--group info-group__heading">Тех. поддержка</h4>
          </div>
          <div class="info-group__content">
            <div class="info-group__title">
              <p class="info-group__title-val">Иван Иванов Иванович</p>
              <small class="info-group__title-key">
                Менеджер
              </small>
            </div>
            <hr class="info-group__hr">
            <div class="info-group__entry">
              <div class="info-group__key">Тел:</div>
              <div class="info-group__value">+7 (924) 109 49 49</div>
            </div>
            <div class="info-group__entry">
              <div class="info-group__key">Email:</div>
              <div class="info-group__value"><a href="mailto:li@site.ru" class="link">li@site.ru</a></div>
            </div>
          </div>

        </div>
      </div>


    </div>
  </aside>

  <main class="admin-menu__main-wrapper">
    <div class="admin-menu__main-inner">

      <div class="top-panel">
        <div class="top-panel__group">
          <div class="top-panel__support">
            <div>
              <a href="#" class="top-panel__title">Техническая поддержка</a>
              <a href="#" class="top-panel__subtitle">Руководство по эксплуатации</a>
            </div>
          </div>
        </div>
        <div class="top-panel__group top-panel__group--flex">
          <a href="#" class="top-panel__ding"></a>
          <div class="top-panel__profile">
            <div class="top-panel__photo-wrapper">
              <img src="../../img/top-photo.jpg" alt="" class="top-panel__photo">
            </div>
            <div class="top-panel__name-info">
              <p class="top-panel__name">Иванова Анна</p>
              <small class="top-panel__who">Администратор Портала</small>
            </div>
          </div>
          <a class="top-panel__go" href="#"></a>
        </div>
      </div>

      <h1 class="heading">Панель управления</h1>

      <div class="feature__features">
        <div class="feature feature--color--em">
          <i class="icon icon--img--stats feature__icon"></i>
          <div class="feature__text">
            <h3 class="heading heading--size--sm feature__title">Быстрый доступ к разделам</h3>
            <p class="feature__description">Начните работу прямо сейчас в нужном разделе, нажав на ссылки. Данные
              ссылки
              обновляются автоматически на основе ваших прошлой взаимодействий с административной панелью.</p>
          </div>
          <ul class="feature__links">
            <li class="feature__link">
              <a class="feature-link" href="#">
                <i class="icon icon--img--tablet feature-link__icon"></i>
                <b class="feature-link__title">Руководства</b>
                <small class="feature-link__subtitle">по эксплуатации</small>
              </a>
            </li>
          </ul>
        </div>

        <div class="feature">
          <div class="feature__text">
            <h3 class="heading heading--size--sm feature__title">Быстрый доступ к разделам</h3>
            <p class="feature__description">Начните работу прямо сейчас в нужном разделе, нажав на ссылки. Данные
              ссылки
              обновляются автоматически на основе ваших прошлой взаимодействий с административной панелью.</p>
          </div>
          <ul class="feature__links">
            <li class="feature__link">
              <a class="feature-link" href="#">
                <i class="icon icon--img--tablet feature-link__icon"></i>
                <b class="feature-link__title">Новости</b>
                <small class="feature-link__subtitle">таблица</small>
              </a>
            </li>
            <li class="feature__link">
              <a class="feature-link" href="#">
                <i class="icon icon--img--tablet feature-link__icon"></i>
                <b class="feature-link__title">События</b>
                <small class="feature-link__subtitle">таблица</small>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="header-composition">
        <h2 class="heading heading--size--md">Последние операции</h2>
        <button class="button button--type--action">Посмотреть все</button>
      </div>

      <div class="table">
        <table class="table__table">
          <tr>
            <th><a href="#" class="link link--type--sort">ID</a></th>
            <th><a href="#" class="link link--type--sort link--sort--asc">Дата и время</a></th>
            <th><a href="#" class="link link--type--sort">Ссылка</a></th>
            <th><a href="#" class="link link--type--sort link--sort--desc">Объект</a></th>
            <th><a href="#" class="link link--type--sort">Действие</a></th>
            <th><a href="#" class="link link--type--sort">Пользователь</a></th>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
          <tr>
            <td><a href="#" class="link"># 10143</a></td>
            <td>20.01.2018 10:45</td>
            <td><a href="#" class="link">https://profobr27.ru/admin/modules/menu/create</a></td>
            <td>Меню</td>
            <td>Создание</td>
            <td><a href="#" class="link">Иванов Иван</a> (Администратор Портала)</td>
          </tr>
        </table>
      </div>

    </div>
  </main>

  <%= _.template(require('./../includes/footer.html'))() %>